{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" type="image/png" href="{{ site.avatarurl }}?s=16" sizes="16x16">
<link rel="icon" type="image/png" href="{{ site.avatarurl }}?s=32" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.avatarurl }}?s=96" sizes="96x96">
<link rel="shortcut icon" href="{{ site.avatarurl }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@EllaismCore">
<meta name="twitter:creator" content="@EllaismCore">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.excerpt }}">
<meta name="twitter:image" content="/images/bg.jpg">

<!-- end custom head snippets -->
