<div class="bl-notification bl-bg-secondary-color bl-text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        <div id="fork-alert" class="animated"><i class="fa fa-info-circle bl-spacer-r-m-5" aria-hidden="true"></i> <div id="fork-countdown"></div></div>
			</div>
		</div>
	</div>
</div>