<div class="bl-notification bl-bg-secondary-color bl-text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<i class="fa fa-info-circle bl-spacer-r-m-5" aria-hidden="true"></i> Byzantium & WebAssembly enabled in 2 months and 1 week. 425,246 blocks from now.
			</div>
		</div>
	</div>
</div>