
{{# if newsupdate}}

{{!-- June 2018 --}}
<div id="201806" class="bl-news bl-visible">
    {{!-- Hard Fork --}}
    <h5 class="bl-h5-common-spacer">Hard Fork</h5>
    <p>
        Ellaism Core proposed and planned a hard fork at block number 2,000,000, happening around end of August, 2018. This hard fork adds Ethereum Byzantium features and enables WebAssembly scripting on Ellaism blockchain. multi-geth and go-ellaism support is being drop, and we urge everyone to upgrade to Parity v1.10.3+. You can find more information below:
    </p>
    <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
        <li>
            <a href="https://github.com/ellaism/specs/blob/master/specs/2018-0004-byzantium.md" class="bl-text-secondary" target="_blank">
            Byzantium Hardfork Meta 
            </a>
            <a href="https://github.com/ellaism/specs/issues/12" class="bl-text-secondary" target="_blank">
            (Discussions)
            </a>  
        </li>
        <li>
            <a href="https://github.com/ellaism/specs/blob/master/specs/2018-0003-wasm-hardfork.md" class="bl-text-secondary" target="_blank">
            WebAssembly Hardfork Meta 
            </a>
            <a href="https://github.com/ellaism/specs/issues/11" class="bl-text-secondary" target="_blank">
            (Discussions) 
            </a>
        </li>
    </ul>

    {{!-- Development --}}
    <h5 class="bl-h5-common-spacer">Development</h5>
    <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
        <li>
            Steve Mulligan published Ellaism
            <a href="https://itunes.apple.com/si/app/ellaism-wallet/id1397079303?mt=8" class="bl-text-secondary" target="_blank">iOS mobile wallet</a>
            and
            <a href="https://github.com/ellaism/Lunary-Ethereum-Wallet" class="bl-text-secondary" target="_blank">beta Android wallet</a>.
        </li>
        <li>
            Krzysztof Pawliczuk is working on the new Ellaism Discord tipbot.
        </li>
        <li>
            Ellaism's new website is live! The design is done by @Ingridfire and @nash.
        </li>
        <li>
            @ellaismer is working on preparing the current explorer for the WebAssembly upgrade.
        </li>
        <li>
            The Ellaism Summer of Code is started, by @limax.
        </li>
    </ul>

    {{!-- Community --}}
    <h5 class="bl-h5-common-spacer">Community</h5>
    <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
        <li>
            <a href="https://transparency.ellaism.org/dev/" class="bl-text-secondary" target="_blank">Dev Fund</a> balance: 16550.94 ELLA (<a href="https://github.com/ellaism/meta/blob/master/finance/2018-06.md" class="bl-text-secondary" target="_blank">Financial Report</a>)
        </li>
        <li>
            <a href="https://transparency.ellaism.org/community/" class="bl-text-secondary" target="_blank">Community Fund</a> balance: 750.75 ELLA
        </li>
        <li>
            Active work is ongoing to prepare for the upcoming hard fork, led by @limax.
        </li>
        <li>
            Our regular Dev Meetings continues every Saturday 4pm UTC. You can find the meeting logs
            <a href="https://github.com/ellaism/meta/tree/master/logs" class="bl-text-secondary" target="_blank">here</a>.
        </li>
    </ul>
</div>

{{!-- May 2018 --}}
<div id="201805" class="bl-news">
    {{!-- Hard Fork --}}
    <h5 class="bl-h5-common-spacer">Hard Fork</h5>
    <p>
        Ellaism Core proposed and planned a hard fork at block number 2,000,000, happening around end of August, 2018. This hard fork adds Ethereum Byzantium features and enables WebAssembly scripting on Ellaism blockchain. multi-geth and go-ellaism support is being drop, and we urge everyone to upgrade to Parity v1.10.3+. You can find more information below:
    </p>
    <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
        <li>
            <a href="https://github.com/ellaism/specs/blob/master/specs/2018-0004-byzantium.md" class="bl-text-secondary" target="_blank">
            Byzantium Hardfork Meta 
            </a>
            <a href="https://github.com/ellaism/specs/issues/12" class="bl-text-secondary" target="_blank">
            (Discussions)
            </a>  
        </li>
        <li>
            <a href="https://github.com/ellaism/specs/blob/master/specs/2018-0003-wasm-hardfork.md" class="bl-text-secondary" target="_blank">
            WebAssembly Hardfork Meta 
            </a>
            <a href="https://github.com/ellaism/specs/issues/11" class="bl-text-secondary" target="_blank">
            (Discussions) 
            </a>
        </li>
   </ul>

   {{!-- Development --}}
   <h5 class="bl-h5-common-spacer">Development</h5>
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
        <li>
            The first version of Ellaism Shell, a desktop wallet, is
            <a href="https://github.com/ellaism/shell/releases" class="bl-text-secondary" target="_blank">released</a>.
        </li>
        <li>
            A new wiki server is set up, thanks to work done by @stevemulligan.
        </li>
        <li>
            Split bot and ellawallet is updated to support
            <a href="https://explorer.ellaism.org/account/0x4aaad871293c4581edb580e99fb6613b0a3bc488"
            class="bl-text-secondary" target="_blank">DONATE token</a>.
        </li>
        <li>
            Bug fixes in
            <a href="https://github.com/ellaism/open-ethereum-pool" class="bl-text-secondary" target="_blank">open-ethereum-pool</a>
            and
            <a href="https://github.com/ellaism/ella-netstats" class="bl-text-secondary" target="_blank">ella-netstats</a>.
        </li>
        <li>
            Ellabot added mining profit calculator, by @kubu00.
        </li>
        <li>
            The Ellaism Summer of Code is announced, by @limax.
        </li>
   </ul>

   {{!-- Community --}}
   <h5 class="bl-h5-common-spacer">Community</h5>
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
        <li>
            <a href="https://transparency.ellaism.org/dev/" class="bl-text-secondary" target="_blank">Dev Fund</a> balance: 13883.14 ELLA (<a href="https://github.com/ellaism/meta/blob/master/finance/2018-05.md" class="bl-text-secondary" target="_blank">Financial Report</a>)
        </li>
        <li>
            <a href="https://transparency.ellaism.org/community/" class="bl-text-secondary" target="_blank">Community Fund</a> balance: 2835.24 ELLA
        </li>
        <li>
            The big Ellaism
            <a href="https://medium.com/@WildTowd/ellaism-spring-giveaway-2339f01ff1f3" class="bl-text-secondary" target="_blank">marketing campaign</a>
            is ongoing, organized by @WildTowd.
        </li>
        <li>
            Active work is ongoing to prepare for the upcoming hard fork, led by @limax.
        </li>
        <li>
            Our regular Dev Meetings continues every Saturday 4pm UTC. You can find the meeting logs
            <a href="https://github.com/ellaism/meta/tree/master/logs" class="bl-text-secondary" target="_blank">here</a>.
        </li>
   </ul>
</div>

{{!-- April 2018 --}}
<div id="201804" class="bl-news">
   {{!-- Hard Fork --}}
   <h5 class="bl-h5-common-spacer">Hard Fork</h5>
   <p>
      Ellaism Core proposed and planned a hard fork at block number 2,000,000, happening around end of August, 2018. This hard fork adds Ethereum Byzantium features and enables WebAssembly scripting on Ellaism blockchain. You can find more information below:
   </p>
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>
         <a href="https://github.com/ellaism/specs/blob/master/specs/2018-0004-byzantium.md" class="bl-text-secondary" target="_blank">
         Byzantium Hardfork Meta 
         </a>
         <a href="https://github.com/ellaism/specs/issues/12" class="bl-text-secondary" target="_blank">
         (Discussions)
         </a>
         
      </li>
      <li>
         <a href="https://github.com/ellaism/specs/blob/master/specs/2018-0003-wasm-hardfork.md" class="bl-text-secondary" target="_blank">
         WebAssembly Hardfork Meta 
         </a>
         <a href="https://github.com/ellaism/specs/issues/11" class="bl-text-secondary" target="_blank">
         (Discussions) 
         </a>
         
      </li>
   </ul>
   {{!-- Development --}}
   <h5 class="bl-h5-common-spacer">Development</h5>
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>We release two new versions of multi-geth. However, multi-geth is being discontinued because of the WebAssembly upgrade. ETH/ETC support will be maintained by <a href="https://github.com/ethoxy/multi-geth" target="_blank" class="bl-text-secondary">Ethoxy Initiative.</a> We urge existing multi-geth users to migrate to <a href="" target="_blank" class="bl-text-secondary"> Parity</a>.</li>
      <li>Shikinseki testnet is upgraded with support of Byzantium features and WebAssembly, in preparation of the upcoming hard fork.</li>
      <li>Our <a href="https://github.com/ellaism/meta/wiki" target="_blank" class="bl-text-secondary">wiki page</a> can now be accessed from <a href="https://wiki.ellaism.org" target="_blank" class="bl-text-secondary">wiki.ellaism.org</a>, thanks to work done by @stevemulligan.</li>
      <li>A new bot, called “EllaBot”, is developed by @kubu00. You can interact it in our <a href="https://discordapp.com/invite/gz9tURY" target="_blank" class="bl-text-secondary">Discord server</a>.</li>
      <li>Development of an Ellaism-branded dapps browser is started.</li>
      <li>Various bug fixes and improvements to <a href="https://github.com/ellaism/open-ethereum-pool" target="_blank" class="bl-text-secondary">open-ethereum-pool</a>.</li>
   </ul>
   {{!-- Community --}}
   <h5 class="bl-h5-common-spacer">Community</h5>
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li><a href="https://transparency.ellaism.org/dev/" target="_blank" class="bl-text-secondary">Dev Fund</a> balance: 12479.68 ELLA (<a href="https://github.com/ellaism/meta/blob/master/finance/2018-04.md" target="_blank" class="bl-text-secondary">Financial Report</a>) </li>
      <li><a href="https://transparency.ellaism.org/community/#/" target="_blank" class="bl-text-secondary">Community Fund</a> balance: 2835.24 ELLA </li>
      <li>Our new Community Fund is now active. A new <a href="https://medium.com/@WildTowd/ellaism-spring-giveaway-2339f01ff1f3" target="_blank" class="bl-text-secondary">marketing campaign</a> is ongoing, organized by @WildTowd. </li>
      <li>Our regular Dev Meetings continues every Saturday 4pm UTC. You can find the meeting logs <a href="https://github.com/ellaism/meta/tree/master/logs" target="_blank" class="bl-text-secondary">here</a>.
      <li>ellaism.org <a href="https://imgur.com/gallery/8Q3dusZ" target="_blank" class="bl-text-secondary">March Traffic Stats</a> </li>
   </ul>
   {{> news/social-media-share}}
   <p class="bl-font-small">Updated: May 05, 2018</p>
</div>

{{!-- March 2018 --}}
<div id="201803" class="bl-news">
   {{!-- Development --}}
   <h5 class="bl-h5-common-spacer">Development</h5>
  
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>A new client, called <a href="https://github.com/ethoxy/multi-geth" target="_blank" class="bl-text-secondary"> multi-geth</a>, is developed. This is a go-ethereum client that supports multiple networks, including Ethereum and Ellaism, and we are working on Ethereum Classic support.</li>

      <li><a href="https://github.com/ethoxy/multi-geth" target="_blank" class="bl-text-secondary">Ellaism Explorer </a>is integrated with <a href="https://github.com/ethoxy/multi-geth" target="_blank" class="bl-text-secondary">ENS</a>, <a href="https://github.com/ethoxy/multi-geth" target="_blank" class="bl-text-secondary">Rich List</a>, and <a href="https://github.com/ethoxy/multi-geth" target="_blank" class="bl-text-secondary">Miner Rank</a>.</li>

      Our new Discord server is tightly intergrated with our blockchain, with most of the audit logs available as Ethereum logs. This includes <a href="" target="_blank" class="bl-text-secondary">working group logs</a>, moderation logs, as well as <a href="" target="_blank" class="bl-text-secondary">enthusiasts, <a href="" target="_blank" class="bl-text-secondary">regulars</a>, <a href="" target="_blank" class="bl-text-secondary">developers</a> and <a href="" target="_blank" class="bl-text-secondary">moderators</a> joining and leaving logs.</li>

      <li>Various bug fixes and improvements to <a href="" target="_blank" class="bl-text-secondary">open-ethereum-pool</a> and <a href="" target="_blank" class="bl-text-secondary">EllaWallet</a>.</li>
   </ul>

   {{!--Community --}}
   <h5 class="bl-h5-common-spacer">Community</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Dev Fund balance: 11,101.12 ELLA <a href="" target="_blank" class="bl-text-secondary">(Financial Report)</a></li>
      <li>Our regular Dev Meetings continues every Saturday 4pm UTC. You can find the meeting logs <a href="" target="_blank" class="bl-text-secondary">here</a>.</li>
      <li>Our community did a <a href="" target="_blank" class="bl-text-secondary">post-conflict debriefing</a>.</li>
      <li>Ellaism will be listed on <a href="" target="_blank" class="bl-text-secondary">LDVBank exchange</a>.</li>
      <li>ellaism.org March <a href="" target="_blank" class="bl-text-secondary">Traffic Stats</a></li>
   </ul>
   
   {{> news/social-media-share}}
   <p class="bl-font-small">Updated: May 05, 2018</p>
</div>

{{!-- February 2018 --}}
<div id="201802" class="bl-news">

   {{!-- Development --}}
   <h5 class="bl-h5-common-spacer">Development</h5>
  
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>We did a massive update for Ellaism Explorer with new themes, better performance and bug fixes. Source code validation is restored.</li>
      <li>Ellaism Explorer is integrated with Ellaism Name System. You can associate your address with an .ella name.</li>
      <li>Twitter Faucet is developed. It allows users to claim a small amount of ELLA by tweeting about Ellaism network.</li>
      <li>Several display issues are fixed in EllaWallet.</li>
      Hands on a Hard Coin becomes the first blockchain game that supports Ellaism network.</li>
   </ul>

   {{!--Community --}}
   <h5 class="bl-h5-common-spacer">Community</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>We started regular Dev Meetings every Saturday 4pm UTC. You can find the meeting logs here.</li>
      <li>Dev Pool MINING token is released. For every ELLA you mined on Dev Pool, you also get one MINING token.</li>
      <li>Ellaism will be listed on Victorium Exchange. (Thanks to @CountCryptula!)</li>
      <li>CryptoBridge accepted Ellaism listing request and is being actively worked on.</li>
      <li>Dev Fund balance: 10467.62 ELLA (Financial Report)</li>
      <li>Community Fund balance: 13627.28 ELLA</li>
      <li>ellaism.org February Traffic Stats</li>
   </ul>
   
   {{> news/social-media-share}}
   <p class="bl-font-small">Updated: May 05, 2018</p>
</div>

{{!-- January 2018 --}}
<div id="201801" class="bl-news">

   {{!-- Development --}}
   <h5 class="bl-h5-common-spacer">Development</h5>
  
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Parity released v1.9.0 with built-in Ellaism support.</li>
      <li>MyEtherWallet released with built-in Ellaism support.</li>
      <li>open-ethereum-pool for Ellaism has been updated with optimization in memory usage and responsiveness.</li>
      <li>Minor bug fixes for go-ellaism client.</li>
      <li>Ellagem is released with support for Parity v1.9.0.</li>
      <li>Ellaism Improvement Proposal ella-2018-0001 (Alternative Scheme of Precompiled Contract Versioning for Hard Fork) released.</li>
      <li>SputnikVM announced with Ellaism network support.</li>
      <li>We developed a Discord bot that allows you to start a new CarbonVote using several simple commands. Say hi to the bot in the #umbrella Discord channel!</li>
   </ul>

   {{!--Community --}}
   <h5 class="bl-h5-common-spacer">Community</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>We set up the multisig wallets for Dev Fund and Community Fund, improving trust.</li>
      <li>New Dev Fund transparency page and Community Fund transparency page is developed. This allows you to view all outgoing multisig transactions with descriptions.</li>
      <li>Dev Fund balance: 8,395.04 ELLA (Financial Report)</li>
      <li>Community Fund balance: 13,395.94 ELLA</li>
      <li>ellaism.org January Traffic Stats</li>
   </ul>
   
   {{> news/social-media-share}}
   <p class="bl-font-small">Updated: May 05, 2018</p>
</div>

{{!-- December 2017 --}}
<div id="201712" class="bl-news">
    {{!-- Development --}}
   <h5 class="bl-h5-common-spacer">Development</h5>
  
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Now you can verify contract source codes from the Ellaism explorer.</li>
      <li>A new version of Go Ellaism is released, with improvements in stability and logging formats.</li>
      <li>Parity added native support for Ellaism. Starting from Parity v1.9, you won’t need any additional configurations to get on the Ellaism blockchain.</li>
      <li>Several stability fixes for EllaWallet and Chrome Extension Wallet was deployed.</li>
      <li>@sorpaas, an Ethereum Classic core developer, agreed to add Ellaism support in the etclient project.</li>
      <li>A re-work of Ellaism Specification Repository is done by @sorpaas and ella-2017-0001: Maintain Existing Account Compatibility While Hard Forking is submitted.</li>
      <li>Ellagem and Ellaism’s CarbonVote is being actively maintained by @Riddlez666 and @MakeMoneyOz.</li>
      <li>open-ethereum-pool and community-pool is being actively maintained by @ellaismer and @DaCHRIS.</li>
   </ul>

   {{!--Community --}}
   <h5 class="bl-h5-common-spacer">Community</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Dev Fund balance: 8,102.03 ELLA (Financial Report)</li>
      <li>Community Fund balance: 10,083.42 ELLA</li>
      <li>ellaism.org December Traffic Stats</li>
      <li>Many new developers and mining pools joined the community.</li>
   </ul>

   <h5 class="bl-h5-common-spacer">Exchanges and Ecosystems</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Cryptopia listed Ellaism.</li>
      <li>WhatToMine listed Ellaism.</li>
   </ul>
   
   {{> news/social-media-share}}
   <p class="bl-font-small">Updated: May 05, 2018</p>
</div>

{{!-- November 2017 --}}
<div id="201711" class="bl-news">
    {{!-- Wallets and Explorers --}}
   <h5 class="bl-h5-common-spacer">Wallets and Explorers</h5>
  
   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>A new Chrome Extension Wallet is being developed.</li>
      <li>You can now use Trezor hardware wallet through the Web Wallet interface.</li>
      <li>@Riddlez666 is working on a desktop wallet called ellagem.</li>
      <li>A new explorer with transaction history was deployed. Works are now on restoring the contract validation functionality.</li>
   </ul>

   {{!--Pool Softwares and Servers --}}
   <h5 class="bl-h5-common-spacer">Pool Softwares and Servers</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>We spent some time on setting up proper monitoring and alert system for ellaism.org servers. The explorer, Ellaism Dev Pool, BTC relay fetchd and the JSON API has been running stably without major interruption for over a month.</li>
      <li>A modified version of open-ethereum-pool is released to support async share submission for multi-continental pool setups.</li>
      <li>@DaCHRIS is actively maintaining the community-pool repository.</li>
   </ul>

   <h5 class="bl-h5-common-spacer">Full Nodes</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Two new versions of go-ellaism were released.</li>
   </ul>

   <h5 class="bl-h5-common-spacer">Websites and Dapps</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>@MakeMoneyOz is developing a CarbonVote dapp for Ellaism.
      We released a new version of the website, with help from @Riddlez666, @plenarius, @alantucker and @wallermadev.</li>
   </ul>

   <h5 class="bl-h5-common-spacer">Community and Finance</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Community Fund balance: 6,036 ELLA, maintained by @CountCryptula.</li>
      <li>Dev Fund Financial Report.</li>
      <li>ellaism.org November Traffic Stats.</li>
      <li>Ellaism now has a Discourse forum.</li>
      <li>@Riddlez666 created a Trello board for organizing Ellaism-related issues.</li>
      <li>Many developers volunteered to join, including @DaCHRIS, @Riddlez666, @WallerMaDev, @alantucker, @MakeMoneyOz and @Hawking.</li>
   </ul>

   <h5 class="bl-h5-common-spacer">Exchanges and Ecosystems</h5>

   <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
      <li>Bisq, a decentralized P2P exchange, added Ellaism support.</li>
   </ul>
   
   {{> news/social-media-share}}
   <p class="bl-font-small">Updated: May 05, 2018</p>
</div>

{{/if}}