<span class="bl-text-primary-b-d"> SHARE ON</span>
   <ul class="bl-inline bl-spacer-t-m-10 bl-social-wrapper">
      <a href="">
         <li class="bl-social-medial-spacer bl-twitter">
         Twitter
         </li>
      </a>

      <a href="">
         <li class="bl-social-medial-spacer bl-facebook">
         Facebook
         </li>
      </a>

      <a href="">
         <li class="bl-social-medial-spacer bl-google">
         Google+
         </li>
      </a>

      <a href="">
         <li class="bl-social-medial-spacer bl-linkedin">
         LinkedIn
         </li>
      </a>

   </ul>
