img.loading {
	width: 64px;
	height: 64px;
}

.social-links {
	margin-left: -15px;
}

.social-links a {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.2rem;
}

.social-links .fa-github {
	color: #000;
}

.social-links .fa-reddit {
	color: orangered;
}

.social-links .fa-facebook {
	color: #365899;
}

.social-links .fa-telegram {
	color: #0088cc;
}

.social-links .fa-bitcoin {
	color: #fab915;
}