img.loading {
	width: 64px;
	height: 64px;
}

.social-intro {
  margin-bottom: 30px;

  font-size: 1.3em;
}

.social-buttons {
  margin-bottom: 30px;

  .btn {
    padding: 10px 30px;
    font-size: 1em;
  }
}

.social-links {
  margin-bottom: 50px;

  .fab {
    font-size: 1.5em;
  }
}

.social-links a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
}

.social-links .fa-github {
    color: #000;
}

.social-links .fa-reddit {
    color: #FF4500;
}

.social-links .fa-facebook {
    color: #365899;
}

.social-links .fa-telegram {
    color: #0088cc;
}

.social-links .fa-bitcoin {
    color: #fab915;
}

#fork-countdown {
	overflow: hidden;
	display: none;
}