.bl{
	&-color-block{
		span{
			display: block;
			padding: 10px;
			margin-right: 30px;
			margin-bottom:10px;
			width: 160px;
			height: 40px;
			border-radius: 3px;
			border: 1px solid $bl-primary-color;
		}
	}
}

img.loading {
	width: 64px;
	height: 64px;
}

main a {
	color: $bl-secondary-color;
}

main a:hover {
	text-decoration: underline;
	color: $bl-secondary-color;
}

.fa-blockfolio {
	content: url('/images/blockfolio.svg');
	width: 22px;
	height: 22px;
	position: relative;
	top: 3px;
}