<div class="bc-contact-wrapper">
  <form>
    
    <div class="bc-group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>
      
    <div class="bc-group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email</label>
    </div>

    <div class="bc-group">      
      <textarea name="message" placeholder=""  maxlength="51200" required="" type="text" tabindex="0"></textarea>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>How may we help you?</label>
    </div>
    
  </form>
</div>