<div class="btn bl-to-top-btn">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>
<footer class="clearfix bl-main-footer-wrapper bl-center {{# if mini-footer}}bl-mini-sticky{{/if}} {{# if clear-space}}bl-main-footer-wrapper-d-space{{/if}} {{# if clear-top}}bl-main-footer-wrapper-clear-d-space{{/if}} {{# if snap-bottom-footer}}bl-snap-bottom-footer{{/if}}">
	<div class="bl-footer-a">
		<a href="/donate/"><i class="fa fa-heart" aria-hidden="true"></i> DONATE TO ELLAISM</a>
	</div>
	<div class="bl-footer-b">
		&copy; 2019 Ellaism. Website designed by @Ingridfire and @nash.
	</div>
</footer>

<script src="/js/libs/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/libs/particles.min.js"></script>