<div class="bl-main-banner-wrapper">
	<canvas class="bl-main-banner-animation"></canvas>
	<div class="container">
		<div class="row">
			<div class="bl-main-banner-contents bl-center">
				<h1>
					Ellaism
				</h1>
				<p class="bl-main-banner-slogan">
					The Pure Blockchain DApp Platform
				</p>
				<p>
					Ellaism is an Ethereum based network and intends to use exclusively “proof of work” to secure the blockchain. It benefits from a zero pre-mine and has no mandatory developer fees with all support and development donated freely by the community. We believe this makes our coin one of the most honest pure Ethereum projects, and something that is uniquely interesting as a platform for serious developers, educators, and enthusiasts.
				</p>
				<a href="about.html" class="bc-btn bc-btn-primary bl-spacer-t-m-25">
					2018 Roadmap
				</a>
			</div>
		</div>
	</div>
</div>