<div class="bl-community-update-wrapper">
	<div class="container">
		<div class="col-md-2">
			<img src="images/speech.svg" alt="">
		</div>
		<div class="col-md-10">
			<h4>
				Monthly Community Update
			</h4>
			<p>
				Here is a list of the recent progress from Ellaism developers and community members. As a cryptocurrency without pre-mine or dev fees, we need your help. Join the Discord server, donate to Ellaism and learn how to get involved in Ellaism developments.
			</p>
			<a href="news-update.html" class="bc-btn bc-btn-primary">
				Read Latest Update
			</a>
		</div>
	</div>
</div>