<div class="bl-bg-gray-10 bl-mini-footer-content-wrapper {{# if stick-bottom}} bl-mini-stick {{/if}}">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bl-mini-footer-main-wrapper bl-text-white">
					<ul class="bl-mini-footer-contents bl-inline">
						<li>
							<a href="https://github.com/ellaism" target="_blank">
							<i class="fa fa-github" aria-hidden="true"></i> Github
							</a>
						</li>
						<li>
							<a href="https://discordapp.com/invite/gz9tURY" target="_blank">
							<img class="bl-discord-img" src="images/discord.svg" alt=""> Discord
							</a>
						</li>
					</ul>
				</div>

				<div class="bl-mini-footer-main-wrapper-right bl-text-white">
					<ul class="bl-mini-footer-contents bl-inline">
						<li>
							<a href="https://www.reddit.com/r/ellaism" target="_blank">
							<i class="fa fa-reddit" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/ellaismproject/" target="_blank">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://t.me/ellaismcoin" target="_blank">
							<i class="fa fa-telegram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://bitcointalk.org/index.php?topic=2168042" target="_blank">
							<i class="fa fa-btc" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/ellaismproject" target="_blank">
							<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>


			</div>
		</div>
	</div>
</div>