<div class="bl-bg-primary-color">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="bl-why-block-main-wrapper">
					<img src="/images/cup.svg" alt="">
					<h6>
						EVM and WASM Enabled
					</h6>
					<p>
						Ellaism enabled Web Assembly on August&nbsp;6th,&nbsp;2018, giving Developers the choice to use the EVM or gain experience running WASM smart contracts in a production environment.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="bl-why-block-main-wrapper">
					<img src="/images/spactacle.svg" alt="">
					<h6>
						Transparency and Stability
					</h6>
					<p>
						In cryptocurrency, transparency brings trust. The Core team hold strong transparency in its financial and development process. Our strong principles also build a stable platform.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="bl-why-block-main-wrapper">
					<img src="/images/fire.svg" alt="">
					<h6>
						Community Driven
					</h6>
					<p>
						We have a welcoming community and a donation-based development process. You have full control over the cryptocurrency you use, and can always choose a team you trust to develop Ellaism.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
