{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header about=true}}

    <main class="bl-spacer-about bl-spacer-mob-t-p-30">
     <div class="container">
       <div class="row">
         <div class="col-md-10">
           <h1> Ellaism </h1>
          <p class="bl-main-banner-slogan">
                A stable network with no premine and no dev fees
          </p>
              <p>
                Ellaism is an Ethereum based network and intends to use exclusively “proof of work” to secure the blockchain. It benefits from a zero pre-mine and has no mandatory developer fees with all support and development donated freely by the community. We believe this makes our coin one of the most honest pure Ethereum projects, and something that is uniquely interesting as a platform for serious developers, educators, and enthusiasts.
              </p>
         </div>

         {{!-- sticky sidebar --}}
         <div class="col-md-2">
           <div class="bl-float-navigation-wrapper hidden-xs hidden-sm">
             <span class="bl-float-heading">
               On this page
             </span>
             <ul class="bl-float-navigation-list">
              <a href="#roadmap">
                 <li>
                   Roadmap
                 </li>
               </a>

               <a href="#principles">
               <li>
                Principles
               </li>
             </a>

               <a href="#comparisons"> 
               <li>
                Comparisons
               </li>
                </a>
             </ul>
           </div>
           </div>

       </div>
     </div>

     <div class="bl-bg-primary-color bl-about-bg bl-spacer-t-m-20 bl-spacer-mob-t-m-20">
       <div class="container">
         <div class="row">
           <div class="col-md-7">

            {{!-- Roadmap --}}
           <h5 id="roadmap" class="bl-h5-common-spacer">Roadmap</h5>
           <p>
             Below are lists of our roadmap plan. You can submit your suggestions regarding this roadmap to the public <a href="" target="_blank" class="bl-text-secondary-underline">Discord </a> server, or privately to <a href="" target="_blank" class="bl-text-secondary-underline">core@ellaism.org.</a> Note that we only list things we plan to implement this year. That means many other exciting features that are planned in the future will not be listed here. This includes:
           </p>

           <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
              <li>Sharding and blockchain scaling.</li>
              <li>Light client.</li>
              <li>Decentralized bulk storage integrated with blockchain.</li>
              <li>And many others.</li>
           </ul>
          
          <div class="bl-relative">
          <span class="bl-text-primary-b-d bl-road-map-border-b"> In the coming year we plan to:
            <hr>
          </span>
          <div class="bl-road-map-border-l"></div>
          <ul class="bl-list-bullet bl-spacer-t-m-30 bl-spacer-b-m-40 bl-spacer-l-m-50 bl-spacer-mob-l-m-30">
                <div class="bl-text-primary-b-d">Client and Wallet Development and Maintenance</div>
                <li class="bl-spacer-t-m-20">Develop the <a href="https://github.com/ellaism/go-ellaism" target="_blank" class="bl-text-secondary">go-ellaism client</a> and <a href="https://github.com/ellaism/multi-geth" target="_blank" class="bl-text-secondary">multi-geth client</a>.
                <li>Maintain support for <a href="https://github.com/ellaism/parity-config" target="_blank" class="bl-text-secondary">Parity client</a>.</li>
                <li>Develop the <a href="https://ellaism.github.io/ellawallet/" target="_blank" class="bl-text-secondary">ellawallet</a>.</li>

                <div class="bl-text-primary-b-d bl-spacer-t-m-30">Ethereum Virtual Machine and Developer Tools</div>
                <li class="bl-spacer-t-m-20">Optimize the performance of Ethereum Virtual Machine which will help the network handle more transactions.</li>
                <li>Port and maintain other developer tools for the Ellaism chain, if needed.</li>
                
                 <div class="bl-text-primary-b-d bl-spacer-t-m-30">Governance System and Hard Forks</div>
                 <li class="bl-spacer-t-m-20">Implement a public interface to incorporate CarbonVote and MinerVote. So everyone can easily find out the current network opinions.
                <li>Support additional rules, such as voting delegation (you delegate your vote to other community members you trust).</li>
                <li>Work on specifications to standardize CarbonVote and MinerVote.</li>

                <div class="bl-text-primary-b-d bl-spacer-t-m-30">Ethereum Protocol-level New Features</div>
                   <li class="bl-spacer-t-m-20">Difficulty and total difficulty fix related to uncle and GHOST protocol.</li>
                  <li>zkSNARK support with transaction privacy (EIP197).</li>
                  <li>Big integer operations support for RSA related operations (EIP196 and EIP198).</li>
                  <li>New EVM opcodes, including REVERT, RETURNDATASIZE, RETURNDATACOPY, STATICCALL.</li>

                  <div class="bl-text-primary-b-d bl-spacer-t-m-30">Protocol Specification</div>
                    <li class="bl-spacer-t-m-20">Create a clearly defined editor process for protocol specifications.</li>
                    <li>Fill and correct missing pieces in the current protocol <a href="https://github.com/ellaism/specs" class="bl-text-secondary">specifications <i class="fa fa-external-link" aria-hidden="true"></i></a></li>


           </ul>
            </div>
         </div>

           <div class="col-md-5">
             <div class="bl-bg-white bl-right-info-wrapper">
               <h5>Funding and Community Efforts</h5>
               <p>
                One of the most important things that users care about is how Ellaism Core is funded and how the team may impact the community. Here we make several points about what we are and what we aren’t.
                
                <span class="bl-text-primary-b-d"> Core is run by donations. </span>Everyone owns the Ellaism blockchain, thus they have the choice of whether they want to support Core or not, by making donations. We will have complete financial transparency, so you know exactly where your donations go. Most of the donations will be used to pay the salary for developers.
                <span class="bl-text-primary-b-d"> Core has a public inspectable roadmap. </span>And it is what you’re seeing right now. Every year, we publish a new short-term roadmap, for the coming year, three months in advance (November to February next year). The community always has the chance to propose changes to the roadmap.
                <span class="bl-text-primary-b-d"> Core is replaceable. </span> Ellaism has no pre-mine. Every time the community is not happy with Core, it has the chance to replace Core by another team, by switching its donations.
                </p>
             </div>
           </div> 

         </div>
       </div>
     </div>

         <div class="container">
       <div class="row">
         <div class="col-md-12">
            {{!-- Roadmap --}}
           <h5 id="principles" class="bl-h5-common-spacer">Principles</h5>
           <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
              <li>All changes and upgrades to the protocol should strive to maintain and reinforce these </li>Principles of Ellaism
              <li>Monetary Policy: 280 million coins.</li>
              <li>No censorship: Nobody should be able to prevent valid txs from being confirmed.</li>
              <li>Open-Source: Ellaism source code should always be open for anyone to read, modify, copy, share.</li>
              <li>Permissionless: No arbitrary gatekeepers should ever prevent anybody from being part of the network (user, node, miner, etc).</li>
              <li>Pseudonymous: No ID should be required to own, use Ellaism.</li>
              <li>Fungible: All coins are equal and should be equally spendable.</li>
              <li>Irreversible Transactions: Confirmed blocks should be set in stone. Blockchain History should be immutable.</li>
              <li>No Contentious Hard Forks: Never hard fork without consensus from the whole community. Only break the existing consensus when necessary.</li>
              <li>Many feature upgrades can be carried out without a hard fork, such as improving the performance of the EVM.</li>
           </ul>

           {{!-- comparison --}}
           <h5 id="comparisons" class="bl-h5-common-spacer">Comparisons</h5>
           <p>
             Technically, nearly all of the Ethereum networks have similar capabilities in terms of functionality because they share many common parts. Some networks might have additional ones, but they can be easily ported to other networks in terms of weeks. So for this comparison, we focus on pre-mine, coin distribution, philosophy, and community. For more details
           </p>

           <div class="table-responsive bl-spacer-t-m-20">
             <div class="wiki-loader"></div>
             <div id="comparison-table-content" data-wiki-show-link="true" data-wiki-post-process="function(html) { $('table', html).addClass('table table-bordered bl-pool-table'); };" data-wiki-page="https://wiki.ellaism.org/about/comparison" data-wiki-fail-message="View the full comparison on the wiki"></div>
             <!--<table class="table table-bordered bl-pool-table">-->
             <!--<thead>-->
                <!--<tr>-->
                   <!--<th>Name</th>-->
                   <!--<th>Dev Fees</th>-->
                   <!--<th>ICO Premine</th>-->
                   <!--<th>Dev Premine</th>-->
                   <!--<th>Genesis Block</th>-->
                   <!--<th>PCS -->
                      <!--<span class="bl-tool-tip">-->
                        <!--<span tooltip="Percentage of genesis block coins in current supply" flow="down">?</span>-->
                      <!--</span>-->
                   <!--</th>-->
                   <!--<th>DCS-->
                      <!--<span class="bl-tool-tip">-->
                        <!--<span tooltip="Percentage of mandatory developer fees or premine in current supply" flow="down">?</span>-->
                      <!--</span>-->
                   <!--</th>-->
                <!--</tr>-->
             <!--</thead>-->
             <!--<tbody>-->
                <!--<tr>-->
                   <!--<td>Etherium</td>-->
                   <!--<td>0</td>-->
                   <!--<td>60 Million</td>-->
                   <!--<td>12 Million</td>-->
                   <!--<td>72 Million</td>-->
                   <!--<td>>50%</td>-->
                   <!--<td>>13%</td>-->
                <!--</tr>-->
                <!--<tr>-->
                   <!--<td>Etherium Classic</td>-->
                   <!--<td>0</td>-->
                   <!--<td>60 Million</td>-->
                   <!--<td>12 Million</td>-->
                   <!--<td>72 Million</td>-->
                   <!--<td>>50%</td>-->
                   <!--<td>>13%</td>-->

                <!--</tr>-->
                <!--<tr>-->
                   <!--<td>Expanse</td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                  <!--<td>11.11 Million</td>-->
                  <!--<td>11.11 Million</td>-->
                  <!--<td> >50% </td>-->
                  <!--<td> > 50% </td>-->
                <!--</tr>-->
                 <!--<tr>-->
                   <!--<td>Ubiq</td>-->
                   <!--<td>0</td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                    <!--<td>36 Million</td>-->
                   <!--<td> >50% </td>-->
                  <!--<td> 0 </td>-->
                <!--</tr>-->
                 <!--<tr>-->
                   <!--<td>Whalecoin</td>-->
                   <!--<td> 33% </td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                    <!--<td> 33% </td>-->
                <!--</tr>-->
                <!--<tr>-->
                   <!--<td>Ellaism</td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                    <!--<td>0</td>-->
                     <!--<td>0</td>-->
                     <!--<td>0</td>-->
                <!--</tr>-->
             <!--</tbody>-->
          <!--</table>-->
        </div>

         </div>
       </div>
     </div>

    </main>
    
    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
