{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header codeofconduct=true communityparent=true}}

    <main class="bl-spacer-t-m-50 bl-spacer-mob-t-p-30">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1>Code of Conduct</h1>
           <p class="bl-pre-line">
            This is a draft version of The Code of Conduct for the Ellaism Community. The version needs to be finalized by Ellaism's Code of Conduct Working Group, which you can participate in our <a href="" class="bl-text-secondary">Discord <i class="fa fa-external-link" aria-hidden="true"></i></a>      server.
           </p>

           <h5>Our Pledge</h5>
           <p class="bl-pre-line">
             In the interest of fostering an open and welcoming environment, we as Ellaism contributors pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.
           </p>

          <h5>Our Standards</h5>
          <p>
            Examples of behavior that contributes to creating a positive environment include:
          </p>
          
           <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
              <li>Using welcoming and inclusive language</li>
              <li>Being respectful of differing viewpoints and experiences</li>
              <li>Gracefully accepting constructive criticism</li>
              <li>Focusing on what is best for the community</li>
              <li>Showing empathy towards other community members</li>
           </ul>
          <p>
            Examples of unacceptable behavior by participants include:
          </p>
          <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
                <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
                <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
               <li>Public or private harassment</li>
                <li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
                <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
           </ul>

           <h5>
             Scope
           </h5>

           <p class="bl-pre-inline">
             The Code of Conduct Working Group (CoC Working Group) is an open group in Ellaism community, and is responsible for handling conduct-related issues. Their purpose is to de-escalate conflicts and try to resolve issues to the satisfaction of all parties.

              The Ellaism blockchain is decentralized. In the mean time, to create a positive community, the Ellaism's Discord server, social media accounts, and the Github organization are federated. However, this does not mean you need to agree on the Code of Conduct as a prerequsite to join the community -- within the community, we will have many more message boards and discussion places created by community members, and they may or may not choose to enforce this Code of Conduct.

              If you disagree with anything in this Code of Conduct, we do appreciate it if you can let the CoC Working Group know first.
           </p>

           <h5>Moderation</h5>
          <p class="bl-pre-inline">
            In Ellaism's Discord server, the CoC Working Group is responsible for selecting the moderators and enforce the conduct.
          </p>
          <ol class="bl-list-number bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
              <li>Moderators are expected to at least warn the user first, if anything is inapproriate.</li>
              <li>If the warning is unheeded, the user will be “kicked,” i.e., kicked out of the communication channel to cool off.</li>
              <li>If the user comes back and continues to make trouble, they will be banned, i.e., indefinitely excluded.</li>
              <li>Moderators may choose at their discretion to un-ban the user if it was a first offense and they offer the offended party a genuine apology.</li>
          </ol>

          <p class="bl-pre-inline">
            Moderators are held to a higher standard than other community members. If a moderator creates an inappropriate situation, they should expect less leeway than others.

If you experience anything that you find inapproriate and want to discuss it privately, or if you feel anything the moderators have done is unjustified, you can also contact Ellaism's <a href="" target="_blank" class="bl-text-secondary">Core Team.</a>
          </p>

          <h5>Attribution</h5>
          <p class="bl-pre-inline">
            This Code of Conduct is maintained by Ellaism's Code of Conduct Working Group.

The initial version is adapted from the Contributor Covenant, <a href="" target="_blank" class="bl-text-secondary">version 1.4 <i class="fa fa-external-link" aria-hidden="true"></i></a>, <a href="" target="_blank" class="bl-text-secondary">Go Community Code of Conduct <i class="fa fa-external-link" aria-hidden="true"></i></a>    , and <a href="" target="_blank" class="bl-text-secondary">Rust Code of Conduct <i class="fa fa-external-link" aria-hidden="true"></i></a>
          </p>
 <p class="bl-font-small">Updated: November 21, 2017</p>
       </div>
     </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
