{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header daaps=true getparent=true}}

    <main>
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1>Ellaism Dapps</h1>

           <p>The following dapps are currently deployed on the Ellaism network:</p>
           <div class="wiki-loader"></div>
           <div id="dapp-content" data-wiki-post-process="function(html) { $('ul', html).addClass('bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30'); };" data-wiki-page="https://wiki.ellaism.org/dapps" data-wiki-fail-message="View the complete list of dapps on the wiki"></div>
            <div>&nbsp;</div>
           <div>&nbsp;</div>
         </div>
       </div>
     </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
