{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header donate=true communityparent=true}}

    <main class="bl-spacer-t-m-50 bl-spacer-mob-t-p-30">
     <div class="container">
       <div class="row">
         <div class="col-md-10">
           <h1>Donate to Ellaism</h1>
           <p>
             Ellaism didn’t have an ICO and is a coin without a pre-mine. Donations are welcomed to keep those that contributed to the coin rewarded. This page was set up so that you can donate to some people who have contributed code either directly or indirectly to Ellaism.
           </p>

           <h5 class="bl-center bl-spacer-t-p-40 bl-spacer-mob-t-p-20">
             Not sure about which fund you should donate?
           </h5>

           <div id="devfund" class="bl-center">
             <img src="images/qr-dev.png" alt="">
           </div>

          <div class="bl-center bl-dev-exception">
            Dev Fund
          </div>

          <div class="bl-center bl-donate-address-wrapper">
            0xe9C2d958E6234c862b4AfBD75b2fd241E9556303
          </div>
            
           <p class="bl-pre-line">
             Dev Fund is a multisig wallet used to set up the core development team, operate infrastructures of Ellaism, and support other development activities related to the Ellaism blockchain. You can find the current signer information, deployment details and instructions for verifying the proof from this document. Financial reports are published every month for transparency. You can learn more about the role which Dev Fund and Ellaism Core plays in the whole Ellaism community from the roadmap. Currently the fund is used for:
           </p>

            <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
                 <li>Development of Ellaism geth and support for Parity client.</li>
                 <li>Ellaism explorer.</li>
                 <li>Ellaism public JSON-RPC API.</li>
                 <li>BTC Relay.</li>
                 <li>Ellaism specifications and protocol upgrades.</li>
                <li>Ellaism Name System (ENS).</li>
                 <li>Othr core development activities.</li>
           </ul>

           <p class="bl-pre-line">
             Besides making donations, you can also support the Dev Fund by joining the Dev Mining Pool and many other mining pools. You can find more information in Mining.

The transparency page shows all the outgoing transactions from the Dev Fund.
           </p>

           <hr>

           <div id="communityfund" class="bl-center">
             <img src="images/qr-community.png" alt="">
           </div>

          <div class="bl-center bl-dev-exception">
            Community Fund
          </div>

          <div class="bl-center bl-donate-address-wrapper">
            0x01ff0FFd25B64dE2217744fd7d4dc4aA3cAbceE7
          </div>
          
           <p class="bl-pre-line">
             The Community Fund  is a multisig wallet is managed by community members to support community activities on the Ellaism blockchain. You can find the current signer information and deployment details from this document. The transparency page shows all the outgoing transactions from the Community Fund.
           </p>

           <hr>


           <div id="splitcontract" class="bl-center">
             <img src="images/qr-split.png" alt="">
           </div>

          <div class="bl-center bl-dev-exception">
            Split Contract
          </div>

          <div class="bl-center bl-donate-address-wrapper">
            0xEDae451f57B5bfF81d1D9eE64F591Ad6a865a652 
          </div>
          
           <p class="bl-pre-line">
             This contract allows you to split your donation evenly between Dev Fund and Community Fund.
           </p>

           <h5 id="addyourself">Add Yourself to the Page</h5>
           <p class="bl-pre-line">
             We list donation addresses of developers and members that are active in the Ellaism community. To qualify for this list, you would need to have either authored a project directly related to Ellaism, contributed a significant amount of code to one of the core projects, or played a leading role in maintaining a part of the Ellaism community. If you think you should be added, please send a new pull request to ellaism/ellaism.org.
           </p>

         </div>
        
        {{!-- sticky sidebar --}}
         <div class="col-md-2">
           <div class="bl-float-navigation-wrapper hidden-xs hidden-sm">
             <span class="bl-float-heading">
               On this page
             </span>
             <ul class="bl-float-navigation-list">
              <a href="#devfund">
                 <li>
                   Dev Fund
                 </li>
               </a>

               <a href="#communityfund">
               <li>
                Community Fund
               </li>
             </a>

               <a href="#splitcontract"> 
               <li>
                Split Contract
               </li>
                </a>

                <a href="#addyourself"> 
               <li>
                Add Yourself
               </li>
                </a>
             </ul>
           </div>
         </div>
       </div>
     </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
