{{> head title='Ellaism exchanges supported | Where to buy Ellaism coin' description='The list of exchanges on which Ellaism is listed. You can buy Ella with a credit card from IndaCoin. You can exchange Ellaism on Bitcoin in: Cryptopia, Stocks Exchange and other.' keywords='Ellaism exchanges, Ella/btc, buy Ellaism, sell Ellaism, Exchange Ella coin'}}
  <body>
  	 {{> header/main-header exchange=true getparent=true}}

    <main class="bl-spacer-t-m-50 bl-spacer-mob-t-p-30">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1>Ellaism Exchange</h1>
           <p>
             To protect your money, it is recommended that you enable two-factor authentication on the exchange and use a hardware wallet or a cold wallet to store it if you plan to hold long-term.
           </p>

           <h5>Supported Exchanges</h5>
           <div class="wiki-loader"></div>
           <div id="wiki-page-content" data-wiki-post-process="function(html) { $('ul', html).addClass('bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30'); };" data-wiki-page="https://wiki.ellaism.org/exchanges" data-wiki-fail-message="View the complete list of exchanges on the wiki"></div>
         </div>
       </div>
     </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
