{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header exchange=true getparent=true}}

    <main class="bl-spacer-t-m-50 bl-spacer-mob-t-p-30">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1>Ellaism Exchange</h1>
           <p>
             To protect your money, it is recommended that you enable two-factor authentication on the exchange and use a hardware wallet or a cold wallet to store it if you plan to hold long-term.
           </p>
           
           <h5>Supported Exchanges</h5>
           <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
                <li><a href="https://www.cryptopia.co.nz/Exchange?market=ELLA_BTC" target="_blank" class="bl-text-secondary">Cryptopia </a></li>
                <li><a href="https://stocks.exchange/trade/ELLA/BTC" target="_blank" class="bl-text-secondary">Stocks Exchange</a></li>
                <li><a href="https://trade.cryptobroker.io/markets/ellabtc" target="_blank" class="bl-text-secondary">Cryptobroker</a></li>
                <li><a href="https://ldvbank.com/en-us/trading/" target="_blank" class="bl-text-secondary">LDVBank</a></li>
                <li><a href="https://bisq.network/" target="_blank" class="bl-text-secondary">Bisq</a></li>
           </ul>
         </div>
       </div>
     </div>
    </main>
  
    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
