{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header faq=true}}

    <main class="bl-spacer-t-m-50 bl-spacer-mob-t-p-30">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1>Frequently Asked Questions</h1>

           <div class="bl-faq-wrapper">
             <ul class="bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
                <li class="bl-spacer-b-m-10"><span class="bl-heighlight-medium bl-text-secondary">Q. </span> <span class="bl-heighlight-medium">Does Ellaism have or plan to have masternodes? </span></li>
                <li> <span class="bl-heighlight-medium bl-text-secondary">A. </span>  At this time no. We are leaning more to a BTC relay/atomic swap platform
                </a></li>
                <hr>
                <li class="bl-spacer-b-m-10"><span class="bl-heighlight-medium bl-text-secondary">Q. </span> <span class="bl-heighlight-medium"> What exchanges is Ellaism on? </span></li>
                <li> <span class="bl-heighlight-medium bl-text-secondary">A. </span>Currently we are listed on 5 exchanges. See the <a href="" class="bl-text-secondary">
                  complete list of supported exchanges.
                </a> 
                </a></li>
                <hr>
                 <li class="bl-spacer-b-m-10"><span class="bl-heighlight-medium bl-text-secondary">Q. </span> <span class="bl-heighlight-medium"> How is Ellaism different from Ubiq or Eth? </span></li>
                <li> <span class="bl-heighlight-medium bl-text-secondary">A. </span>  Please read here  <a href="https://ellaism.org/comparison/" class="bl-text-secondary">
                  https://ellaism.org/comparison/
                </a> 
                </a></li>

           </ul>
           </div>
         </div>

       </div>
     </div>
    </main>
       {{> home/float-mini-footer stick-bottom=true}}
      {{> footer clear-top=true}}
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/bundle.js"></script>
    <script src="js/libs/particles.min.js"></script>
  </body>
</html>
