{{> head title='Ellaism - The Pure Blockchain DApp Platform | A proof of work network based on Ethereum but without a pre-mine | We have WebAssembly on board' description='Official site Ellaism, platform for developing smart contracts based on Ethereum network. Online works WASM' keywords='Ellaism official site, Ella site, Ella DApps, Ella coin, Ellaism, Ellaland, Dapps platform, WASM, WebAssembly, Web Assembly, EVM'}}
  <body>
  	{{> header/main-header}}

    <main>
      {{> home/slider/main-slider}}
    	{{> home/float-mini-footer}}
      {{> home/why-ellaism}}
      {{> home/community-update}}
    </main>

    {{> footer mini-footer=true}}

    <script>
     window.onload = function() {
        Particles.init({
          selector: '.bl-main-banner-animation',
          color: '#979797',
          maxParticles: 130,
          connectParticles: true,
          responsive: [
            {
              breakpoint: 768,
              options: {
                maxParticles: 80
              }
            }, {
              breakpoint: 375,
              options: {
                maxParticles: 50
              }
            }
          ]
        });
      };
    </script>
  </body>
</html>
