{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header mining=true getparent=true}}

    <main>
     <div class="container">
       <div class="row">
         <div class="col-md-10">
           <h1>Mining Ellaism</h1>
           <p>
             Ellaism uses the <span class="bl-text-italic">ethash</span> proof of work algorithm, the same algorithm used in Ethereum and Ethereum Classic.
           </p>

          {{!-- solo-mining --}}
           <h5 id="solomining" class="bl-h5-common-spacer">Solo Mining</h5>
           <p class="bl-spacer-b-m-40">
             Follow the guide in <a href="/installation/" class="bl-text-secondary-underline">Installation</a> to either set up a Parity or Geth full node. After that, you can use any ethash miner (such as <a href="https://github.com/ethereum-mining/ethminer" target="_blank" class="bl-text-secondary-underline">ethminer</a>) to mine Ellaism. To mine using your GPU, run ethminer <code class="highlighter-rouge">ethminer -G -F http://localhost:8545</code>.
           </p>

          {{!-- pools --}}
           <h5 id="pools">Pools</h5>
           <p>
             Pool mining helps miners to compensate “bad luck” and share “good luck” when it comes. Help is appreciated to keep the <a href="https://pool.ellaism.org/" class="bl-text-secondary-underline" target="_blank">
                  Dev Mining Pool
                </a> running. This pool maintains several infrastructures on Ellaism, like the BTC Relay fetchd script, and contributes directly to the <a href="/donate/" class="bl-text-secondary-underline" target="_blank">Dev Fund</a>.
<br></br>
You can also check out the current pool hashrates in Explorer’s <a href="https://explorer.ellaism.org/miners" class="bl-text-secondary-underline" target="_blank">miners’ ranking</a>. Pools have their own instructions of how to set your miners up.
           </p>

           <h6>
             Pools that Donate to Dev Fund
           </h6>

          <div class="table-responsive bl-spacer-t-m-20">
            <div class="wiki-loader"></div>
            <div id="dev-pools" data-wiki-post-process="function(html) { $('table', html).addClass('table table-bordered bl-pool-table'); };" data-wiki-page="https://wiki.ellaism.org/mining/pools" data-wiki-fail-message="View the complete list of dev pools on the wiki"></div>
        </div>

           <h6>
             Pools using Ellaism's version of <a href="https://github.com/ellaism/open-ethereum-pool" class="bl-text-secondary-b" target="_blank">open-ethereum-pool</a>
           </h6>
           <p>
             Ellaism maintains its own fork of <a href="https://github.com/ellaism/open-ethereum-pool" target="_blank" class="bl-text-secondary">open-ethereum-pool</a> with improvements of memory usage, network latency and PPLNS support.
Below is the list of pools using this fork.
           </p>

          <div class="table-responsive bl-spacer-t-m-20">
            <div class="wiki-loader"></div>
            <div id="oep-pools" data-wiki-post-process="function(html) { $('table', html).addClass('table table-bordered bl-pool-table'); };" data-wiki-page="https://wiki.ellaism.org/mining/pools" data-wiki-fail-message="View the complete list of Open Ethereum pools on the wiki"></div>
        </div>


           <h6>
             All Pools
           </h6>
           <p>
             Other pools may also have advantages in their setup or shares of mining fees.
Contact <a href="mailto:core@ellaism.org" target="_blank" class="bl-text-secondary">core@ellaism.org</a> or ping @ellaismer on <a href="https://discordapp.com/invite/gz9tURY" target="_blank" class="bl-text-secondary">Discord</a> if you want your pool added to this list.
           </p>
           <div class="row">
             <div class="wiki-loader"></div>
             <div id="all-pools" data-wiki-post-process="function(html) {
										var list = $('li', html);
										var half = Math.ceil(list.length / 2);
										var new_list = '<div class=\'col-md-6\'><ul class=\'bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30\'>';
										for (var i = 0; i < half; i++) {
											if (list[i]) {
												new_list = new_list + list[i].outerHTML;
											}
										}
										new_list = new_list + '</ul></div><div class=\'col-md-6\'><ul class=\'bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30\'>';
										for (var i = half; i < list.length; i++) {
											if (list[i]) {
												new_list = new_list + list[i].outerHTML;
											}
										}
										new_list = new_list + '</ul></div>';
										html.empty().append(new_list);
									};" data-wiki-page="https://wiki.ellaism.org/mining/pools" data-wiki-fail-message="View the complete list of mining pools on the wiki"></div>
           </div>
         </div>

        {{!-- sticky sidebar --}}
         <div class="col-md-2">
           <div class="bl-float-navigation-wrapper hidden-xs hidden-sm">
             <span class="bl-float-heading">
               On this page
             </span>
             <ul class="bl-float-navigation-list">
              <a href="#solomining">
                 <li>
                   Solo Mining
                 </li>
               </a>

               <a href="#pools">
               <li>
                Pools
               </li>
               </a>
             </ul>
           </div>
         </div>
       </div>
     </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
