{{> head title='Ellaism community regular update | Network update release | Quarterly report' description='History of regular updates network Ellaism. Developed solutions for our platform improvement.' keywords='Ellaism update, Ellaism development, Ellaism dev, History Ellaism updates'}}
  <body>
  	 {{> header/main-header newsupdate=true newsparent=true}}

  <main class="bl-news-container">
    <div class="container">
       <div class="row">
         <div class="col-md-12">

            <ul class="bl-inline-block bl-selection-wrapper">
              <li>
                <span class="bl-h4 bl-pull-left-d">
              Monthly Community Update
                </span>
              </li>
              <li>
                <div class="form-group">
                  <select id="newsselector" class="form-control bl-selector" id="sel1">
                    <option value="2018q4">Q4 2018</option>
                    <option value="201807">July 2018</option>
                    <option value="201806">June 2018</option>
                    <option value="201805">May 2018</option>
                    <option value="201804">April 2018</option>
                    <option value="201803">March 2018</option>
                    <option value="201802">February 2018</option>
                    <option value="201801">January 2018</option>
                    <option value="201712">December 2017</option>
                    <option value="201711">November 2017</option>
                  </select>
                </div>
              </li>
            </ul>

            <div class="bl-news-wrapper">
              {{> news/news-update-contents newsupdate=true}}
           </div>
      </div>
     </div>
    </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
