{{> head title='Ellaism'}}
  <body>
  	 {{> header/main-header newsupdate=true newsparent=true}}

  <main class="bl-news-container">
    <div class="container">
       <div class="row">
         <div class="col-md-12">
          <a class="bl-back-button" onclick="history.back()" href="#">< back </a>
            <h1>Post-Conflict Debriefing on a Token Issue</h1>
            <span class="bl-font-small">March 14, 2018</span>
            <p class="bl-pre-line">
              If you have been following Ellaism recently, you may have heard of a conflict with the EGEM team related to a token planned for deployment on the Ellaism network. In this post, we aim to provide a post-conflict debriefing regarding what we can learn about the event and what we can do better if similar incidents happen again. We won’t provide a transcript of how the exact details transpired due to its complexity and the different opinions of different parties involved. If you are interested in that, please visit the old Discord server which contains the complete log in #general chat.

To the best of our knowledge, the EGEM team has decided to leave the Ellaism project. Any future actions by that team including the use of the Twitter account, @EllaismCoin, should not be associated with Ellaism. In addition the Ellaism community has moved to a new Discord server.
</p>

<h5>Tokens and Principles</h5>
<p class="bl-pre-line">
The conflict started when EGEM team wants to deploy a “token” that contains a premine, and Ellaismer pointed out that we cannot use official channels to promote this token, because it is against our no-premine principles.

Ellaism is an open platform. No single entity controls the platform. Technically nothing is “official”. And here our use of official means anything that might make user think is associated directly with the core of the coin. This may include recognized developers, Twitter handles, Discord servers, websites, and others.

We don’t have enough information on this “token” EGEM planned to launch. From various sources, it can either be an ERC20/ERC223 token, or a “sidechain”. We discuss various issues related to them separately.
</p>

Tokens and ICOs
<p class="bl-pre-line">
In all Ethereum communities, ICOs and tokens always bring mixed feelings. On one hand, they bring investors. On the other hand, some ICOs and tokens can be scam.

As a community that supports and works on a certain blockchain, utilization of the blockchain is always encouraged. Indeed, ICOs and tokens on Ellaism bring utilization, thus we support them. This means that developers will always provide technical support. And as an open platform, we also don’t try to and cannot restrict how people use it.

However, whether the community actually encourage a certain ICO or token would be a completely different question. Based on whether the ICO or token is useful or is just scam, the community might encourage or discourage launch of an ICO or token, and as always, this would be completely up to the community’s decision.

Ellaism is a coin that holds strong on its principles. We have several items, which if removed, would make Ellaism no longer considered the original coin. One of them is no premine. As a result, we want to make sure that Ellaism is never associated with premine/airdrop. To make it the case, even if we consider a certain token or ICO to be good, we would still not use any official channels to promote it.

Our community also value several soft spirits. Those spirits are considered soft because it’s only implicitly expressed. For example, we value finished projects much more than projects with only an idea and no code. However, unlike principles, whether we follow a certain spirits at a certain time would be entirely up to everyone in the community.

In the future, the Core team would continue to stand strong on Ellaism’s principles, even if that means it would affect interests of some other people.
</p>


Sidechains
<p class="bl-pre-line">
The EGEM token proposal included the prospect of using a “sidechain” for the launch of the token. This would then be combined with an “exchange” to allow tokens to be swapped.

The Core team’s concern in this case was that while EGEM had designed this with the best of intentions, in practice sidechains that work like this usually create direct competition with the parent chain. In addition, because a sidechain requires a huge amount of extra efforts to design, in most cases the author usually ends up just creating another totally separate chain with no relationship to the originally planned parent chain. Also, using a normal exchange to allow swapping could also raise centralization concerns.

During the discussion with the EGEM team, Ellaismer used the Callisto example, but failed to express clearly all of his above concerns. This is something he and the Core team endeavor to improve upon for future project proposals.
</p>

<h5>Community Management</h5>
<p class="bl-pre-line">
The conflict also raises concerns about several of Ellaism’s community management efforts. Some of them are still open to question, and we hope that as a community we can work together to solve them.
</p>

<span class="bl-text-primary-b-d">Leaving the Old Discord Server</span>
<p class="bl-pre-line">
During the conflict, Ellaismer left the old Discord server, which caused the conflict to become even more heated. This behavior was rash and should be avoided. In the future, any serious or impactful actions should at least not be immediate, and especially not used until all other negotiation attempts have failed.
</p>

<span class="bl-text-primary-b-d">Financial Interests</span>
<p class="bl-pre-line">
One issue discussed in the conflict was a MINING token. This is a no-premine no-airdrop token, but it is only applied on Dev Pool. This additional feature on Dev Pool caused some miners to switch from other mining pools. We still think this is totally reasonable here. Many mining pools contains different features, and miners might switch around based on those features.

Our genesis developer Ellaismer expressed that he will continue to work for free. In the mean time, during the past few dev meetings, we started discussions on tipping developers. However, the funding we have is relatively small. This may be what caused our developers to be unsatisfied, but expressed their un-satisfaction via MINING token.

It still remains an open issue of how we should reward developers for working on Ellaism. Given the past incidents, it might be better if we attract people who work part-time as a hobby, rather than people who work full-time and expect to be paid. However, we are not sure on this as well, and we certainly need more community discussions.
</p>

<span class="bl-text-primary-b-d">The Roundtable</span>
<p class="bl-pre-line">
In the old Discord server, we have a channel called #roundtable, to which only community managers, developers and enthusiasts have access. The roundtable is where the conflict started to backfire. In the mean time, many community members expressed concerns about the #roundtable setup. If we had it public, more people might be able to provide input in the beginning, and we might be able to avoid the conflict.

To address this, we are trying out various things in the new Discord server.

We don’t display developers or community managers separately in the member list any more. This makes everyone in the chatroom feels more equal, so that people want those roles for its functionality, rather than feeling privileged.
We don’t have any private chatrooms any more.
And we’re looking for more inputs on how we can better handle this.
</p>

<span class="bl-text-primary-b-d">A Positive Discord Community</span>
<p class="bl-pre-line">
In the interests of creating a more positive and inclusive community, we are considering restrictions on excessively vulgar language and disrespectful attitudes toward other members. The social, off-topic, and possibly other sections of Discord could have this policing removed.

We are open to discussion regarding this with the wider community. The hope is to not just prevent future issues, but to promote a welcoming and professional environment for developers, investors, outside projects, and members.
</p>

            </p>
         </div>
      </div>
    </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
