{{> head title='Ellaism - Style-guide'}}
  <body>
  	 <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{!-- colors --}}
          <h2 class="bl-spacer-t-m-40">
            Colors
            <hr>
          </h2>
          <h4>
            Brand colors
          </h4>
          <div class="bl-color-block">
            <ul class="bl-inline-block">
              <li>
                <span class="bl-bg-primary-color"></span>
                bl-bg-primary-color
              </li>
              <li>
                <span class="bl-bg-secondary-color"></span>
                bl-bg-secondary-color
              </li>
            </ul>
          </div>
          
          <div class="bl-spacer-t-m-70">
            <h4>
              Natural colors
            </h4>
            <div class="bl-color-block">
              <ul class="bl-inline-block">
                <li>
                  <span class="bl-bg-white"></span>
                  bl-bg-white
                </li>
                <li>
                  <span class="bl-bg-gray-10"></span>
                  bl-bg-gray-10
                </li>
                <li>
                  <span class="bl-bg-gray-20"></span>
                    bl-bg-gray-20
                </li>
                <li>  
                </li>
              </ul>
            </div>
          </div> 

          <h4 class="bl-spacer-t-m-70">
            Text colors
          </h4>
          <div class="bl-color-block">
            <ul class="bl-inline-block">
              <li>
                <span class="bl-text-primary">Primary Text Color</span>
                bl-text-primary-color
              </li>
              <li>
                <span class="bl-text-secondary">Secondary Text Color</span>
                bl-text-secondary-color
              </li>
            </ul>
          </div>
          
          {{!-- fonts --}}
          <h2 class="bl-spacer-t-m-40">
            Fonts
            <hr>
          </h2>

          {{!-- buttons --}}
          <h2 class="bl-spacer-t-m-40">
            Buttons
            <hr>
          </h2>
          <h4>
            Brand buttons
          </h4>
          <div class="bl-color-block">
            <ul class="bl-inline-block">
              <li class="bl-spacer-r-m-20">
                <a href="" class="bc-btn bc-btn-primary bl-spacer-b-m-10">
                  Primary Button
                </a>
                <div>
                bc-btn bc-btn-primary
                </div>
              </li>
              <li>
                <a href="" class="bc-btn bc-btn-default bl-spacer-b-m-10">
                  Default Button
                </a>
                <div>
                bc-btn bc-btn-default
                </div>
              </li>
            </ul>
          </div>

          <h4 class="bl-spacer-t-m-40">
            Text buttons
          </h4>
          <div class="bl-color-block">
            <ul class="bl-inline-block">
              <li class="bl-spacer-r-m-20">
                <a href="" class="bl-text-primary-r">
                  Primary Text Button regular
                </a>
                <div class="bl-spacer-t-m-10">
                bl-text-primary-r
                </div>
              </li>
              <li class="bl-spacer-r-m-20">
                <a href="" class="bl-text-primary-m">
                  Primary Text Button Medium
                </a>
                <div class="bl-spacer-t-m-10">
                bl-text-primary-m
                </div>
              </li>
              <li>
              <li class="bl-spacer-r-m-20">
                <a href="" class="bl-text-primary-b">
                  Primary Text Button Bold
                </a>
                <div class="bl-spacer-t-m-10">
                bl-text-primary-b
                </div>
              </li>
             
            </ul>
          </div>

          <div class="bl-color-block bl-spacer-t-m-20">
            <ul class="bl-inline-block">
              <li class="bl-spacer-r-m-40">
                <a href="" class="bl-text-secondary">
                  Secondary Text Button
                </a>
                <div>
                 bl-text-secondary
                </div>
              </li>
               <li class="bl-spacer-r-m-40">
                <a href="" class="bl-text-secondary-m">
                  Secondary Text Medium
                </a>
                <div>
                 bl-text-secondary-m
                </div>
              </li>
              <li >
                <a href="" class="bl-text-secondary-b">
                  Secondary Text Bold
                </a>
                <div>
                 bl-text-secondary-b
                </div>
              </li>
              
               <li class="bl-spacer-r-m-40">
                <a href="" class="bl-text-secondary-underline">
                  Secondary Text Button underline
                </a>
                <div>
                 bl-text-Secondary-underline
                </div>
              </li>

            </ul>  
          </div>

        </div>
      </div> 
     </div>
     <script src="/js/libs/jquery.min.js"></script>
     <script src="/js/bundle.js"></script>
  </body>
</html>
