{{> head title='Ellaism coin testnet | PoA “Shikinseki” testnet | ProgPoW Mtihani testnet' description='Ellaism has a Proof of Authority (PoA) testnet called “Shikinseki”. We choose PoA consensus algorithm because it provides a stable experience.  Mtihani is our ProgPoW testnet.' keywords='Ellaism testnet, PoA testnet, Proof of Authority, Shikinseki testnet, ProgPoW, Mtihani testnet'}}
  <body>
  	 {{> header/main-header testnet=true getparent=true}}

    <main>
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1>Testnet</h1>
           <h2>ProgPoW (Mtihani)</h2>
           <p>Help us test out ProgPoW mining.  This testnet has mostly identical settings comparing Ellaism mainnet, but with ProgPOW transition happening at block 0. </p>
           <p><a href="https://wiki.ellaism.org/progpow">Setup instructions</a> are being developed by the community</p>
           <p>&nbsp;</p>
<h2>Shikinseki</h2>
           <p>
            Ellaism has a Proof of Authority (PoA) testnet called “Shikinseki”.
            <br>
            To connect to the testnet,
             <a href="https://raw.githubusercontent.com/ellaism/parity-config/master/shikinseki.json" class="bl-text-secondary">
                  download
                </a>
                this file and run:
           </p>

          <div class="bl-highlight-wrapper"><pre class="highlight"><code>parity --chain shikinseki.json
          </code></pre></div>

          <p class="bl-pre-line">
            We choose PoA consensus algorithm because it provides a stable experience. It is known that PoW testnets can be unstable due to lack of nodes. And please note that the testnet might be restarted at any time with all states cleared. Don’t use it to store anything important.

            Additional facilities you can use on the testnet:
          </p>
           <ul class="bl-list-bullet bl-spacer-b-m-40 bl-spacer-l-m-40 bl-spacer-mob-l-m-30">
                <li>Explorer: <a href="https://explorer.testnet.ellaism.org" target="_blank" class="bl-text-secondary-underline">https://explorer.testnet.ellaism.org</a></li>
                <li>JSONRPC Endpoint: <a href="https://jsonrpc.testnet.ellaism.org" target="_blank" class="bl-text-secondary-underline">
                    https://jsonrpc.testnet.ellaism.org
                </a></li>
           </ul>
           <h2>
             Shikinseki Faucet
           </h2>
           <p>
             To get some testnet token, go to the Discord channel, in #bots channel, run command <code class="highlighter-rouge">!testnet send &lt;address&gt;</code> For example:
           </p>

           <div class="bl-highlight-wrapper">
            <pre class="highlight"><code>!testnet send 0x2cbb505641e0c1b0ada0cf0b045014383de94576
          </code></pre></div>

          <p>
            You will receive 10 testnet tokens each time issuing this command.
          </p>

         </div>

       </div>
     </div>
    </main>

    {{> home/float-mini-footer stick-bottom=true}}
    {{> footer clear-top=true}}
  </body>
</html>
